body {
    margin: 0;
}
/* NAV */

nav {
    background: transparent;
    height: 100px;
    position: fixed;
    z-index: 1;
    left: 0;
    width: 100%;
    top: 0;
    transition: background 300ms ease-in-out;
}

nav.visible-nav {
    background: #000;
}

.buttons-container {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

button {
    background: transparent;
    color: white;
    font-size: 24px;
    border: 1px solid #0094ff;
    font-family: 'Rajdhani', sans-serif;
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms linear;
}

button:hover {
    box-shadow: inset 0 0 10px 2px #0094ff, 0 0 10px 2px #0094ff;
    display:
}

.call-to-action {
    background: #0094ff;
}

.call-to-action:hover {
    background: white;
    color: #0094ff;
}

.logo {
    width: 200px;
}

/* HEADER */

#header {
    background-image: url(assets/images/header-space.png);
    background-position: 50% 70%;
    background-size: cover;
    height: 500px;
    position: relative;
}

main {
    background: url("assets/images/stars-repeating-teal.jpg") repeat center;
    background-size: 700px;
}

h2.slogan {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 90px;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    text-shadow: 0 0 20px #0094ff, 0 0 20px #0094ff, 0 0 20px #0094ff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* Planets */

.planets-container {
    text-align: center;
}

.planet {
    display: inline-block;
    padding: 20px;
    background: rgba(0, 148, 255, 0.3);
    margin: 20px 40px;
    border-radius: 50%;
    width: 160px;
    border: 1px solid #0094ff;
    position: relative;
}

.planet-image-container {
    height: 160px;
    position: relative;
}

.planet-image {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.planet-name {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    border-radius: 10px;
    background: rgba(0,0,0,0.55);
    padding: 5px 10px;
    max-width: 80px;
    box-sizing: content-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Headquarters */

.headquarters {
    text-align: center;
}

.headquarters ul {
    text-align: left;
}

.headquarters-info {
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 30px;
    vertical-align: middle;
}

.headquarters-globe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.headquarters-planet {
    display: inline-block;
    height: 600px;
    width: 600px;
    vertical-align: middle;
    position: relative;
}

.earth {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: earth-spin 30s linear infinite;
}

.headquarters-info > header > h3 {
    margin: 0;
    color: white;
    font-size: 40px;
}

.moon-container {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: lunar-spin 10s linear infinite;
}

.moon {
    height: 100%;
}

@keyframes earth-spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes lunar-spin {
    0% {
        z-index: 1;
        transform: translate(-50%, 0%) scale(1.5);
    }

    24% {
        z-index: 1;
        transform: translate(-290%, -50%);
    }

    25% {
        z-index: -1;
        transform: translate(-296%, -50%);
    }

    50% {
        z-index: -1;
        transform: translate(-50%, -100%) scale(0.5);
    }

    74% {
        z-index: -1;
        transform: translate(190%, -50%);
    }

    75% {
        z-index: 1;
        transform: translate(196%, -50%);
    }

    100% {
        transform: translate(-50%, 0%) scale(1.5);
    }
}
